@font-face {
    font-family: IndosatRegular;
    src: url('/frontend/fonts/indosat/IndosatRegular-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IndosatMedium;
    src: url('/frontend/fonts/indosat/IndosatMedium-Medium.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IndosatBold;
    src: url('/frontend/fonts/indosat/IndosatBold-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IndosatSansLight;
    src: url('/frontend/fonts/indosat/IndosatSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IndosatSansItalic;
    src: url('/frontend/fonts/indosat/IndosatSans-Italic.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IndosatSansBold;
    src: url('/frontend/fonts/indosat/IndosatSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.indosat_regular {
    font-family: 'IndosatRegular' !important;
}

.indosat_medium {
    font-family: 'IndosatMedium' !important;
}

.indosat_bold {
    font-family: "IndosatBold" !important;
}

.indosatsan_light {
    font-family: 'IndosatSansLight' !important;
}

.indosatsan_italic {
    font-family: 'IndosatSansItalic' !important;
}

.indosatsan_bold {
    font-family: "IndosatSansBold" !important;
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1400px;
    }
}


body {
	font-family: 'IndosatRegular' !important;
}

.logo {
	margin: 5px 40px;
}

section#first {
	padding-top: 1.5rem;
	padding-bottom: 4rem;
}

#first {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 992px) {
	#first {
		background-position:left;
	}

	.logo {
		margin: 5px 20px;
	}
}

.bg-red {
	background: #B7171D !important;
}

.bg-grey {
	background: #CFCFCF !important;
}

.text-pink {
	color: #EC008C !important;
}

.text-grey {
	color: #4D4D4F !important;
}

.text-red {
	color: #B7171D !important;
}

.new-line {
   display: block;
}

.form {
	padding: 20px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
}

.line-border {
	border: 1px solid #B7161C;
	padding: 60px;
}

.form-control {
    border: solid 1.1px #707070;
    color: #707070;
    padding: 8px 15px;
    border-radius: 20px;
}

img.coin1 {
	position: absolute;
	top: -50px;
	right: -30px;
	width: 140px;
	z-index: 1;
}

img.coin2 {
	position: absolute;
	bottom: -50px;
	left: -30px;
	width: 140px;
	z-index: 1;
}

#users img.coin1 {
	position: absolute;
	top: -20px;
	right: 200px;
	width: 110px;
	z-index: 1;
}

#users img.coin2 {
	bottom: 0px;
	left: 200px;
	width: 110px;
}

#lakung img.coin1 {
	position: absolute;
	top: -20px;
	right: 90px;
	width: 90px;
	z-index: 1;
}

#lakung img.coin2 {
	bottom: 0px;
	left: 80px;
	width: 90px;
}

.fs-generasi-anti-judol {
    font-size: 18px;
    line-height: 25px;
}

@media (max-width: 992px) {
    .fs-generasi-anti-judol {
        font-size: 15px;
        line-height: 20px;
    }
}

.fs-title-registrasi_form {
    font-size: 40px;
    line-height: 40px;
    text-shadow: 0px 6px 12px #0000004D;
	opacity: 1;
}

@media (max-width: 1199px) {
	#users img.coin1 {
		top: -20px;
		right: 120px;
		width: 110px;
	}

	#users img.coin2 {
		bottom: 0px;
		left: 120px;
		width: 110px;
	}

	#lakung img.coin1 {
		top: -20px;
		right: 50px;
	}

	#lakung img.coin2 {
		bottom: 0px;
		left: 60px;
	}

}

@media (max-width: 992px) {

	.line-border {
		padding: 30px;
	}

	img.coin1 {
		top: -50px;
		right: 0px;
		width: 120px;
	}

	img.coin2 {
		bottom: -50px;
		left: 0px;
		width: 120px;
	}

    .fs-title-registrasi_form {
        font-size: 35px;
        line-height: 35px;

    }
}


@media (max-width: 782px) {
	#lakung img.coin1 {
		top: -20px;
		right: 40px;
	}

	#lakung img.coin2 {
		bottom: 0px;
		left: 30px;
	}

}

@media (max-width: 767px) {
	#users img.coin1 {
		top: -20px;
		right: 80px;
		width: 110px;
	}

	#users img.coin2 {
		bottom: 0px;
		left: 80px;
		width: 110px;
	}

	#lakung img.coin1 {
		top: -20px;
		right: 100px;
	}

	#lakung img.coin2 {
		bottom: 0px;
		left: 90px;
	}

}


@media (max-width: 660px) {

	#lakung img.coin1 {
		top: -20px;
		right: 80px;
	}

	#lakung img.coin2 {
		bottom: 0px;
		left: 70px;
	}

}

@media (max-width: 575px) {
	#users img.coin1 {
		top: -10px;
		right: 10px;
		width: 100px;
	}

	#users img.coin2 {
		bottom: 0px;
		left: 20px;
		width: 100px;
	}

	#lakung img.coin1 {
		top: -20px;
		right: 30px;
	}

	#lakung img.coin2 {
		bottom: 0px;
		left: 30px;
	}

}



label.fs-label {
    font-size: 18px;
}

@media (max-width: 992px) {
    label.fs-label {
        font-size: 16px;
    }
}

#lakung {
	max-width: 70%;
}

@media (max-width: 768px) {
	#lakung {
		max-width: 100%;
	}
}

.accord-lakung{
    position: relative;
    display: flex;
    align-self: center; 
    width: 70%;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(1px);
}

@media (max-width: 768px) {
	.accord-lakung{
	    width: 85%;
	}
}

.accordion-button:focus {
    border-color: unset;
    box-shadow: unset;
}

.bg-total-partisipan {
   	background: #fdfdfd 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000069;
	border: 1px solid #B7161C;
	border-radius: 72px;
}

.bg-total-lakung {
   	background: rgb(253 253 253 / 51%);
	box-shadow: 0px 3px 6px #00000069;
	border: 1px solid #B7161C;
	border-radius: 30px;
}


.fs-title-total-partisipan {
	font-size: 40px;
	text-shadow: 0px 6px 12px #0000004D;
}

.fs-title-total-lakung {
	font-size: 30px;
	text-shadow: 0px 6px 12px #0000004D;
}

.fs-title-total-dlakung {
	font-size: 40px;
	text-shadow: 0px 8px 16px #00000075;
}

.fs-total-partisipan {
	font-size: 100px;
	text-shadow: 0px 8px 16px #00000075;
}

.fs-total-lakung {
	font-size: 80px;
	text-shadow: 0px 1px 4px #00000075;
}


@media (max-width: 1083px) {
	.fs-title-total-dlakung {
		font-size: 30px;
	}
}

@media (max-width: 855px) {
	.fs-title-total-dlakung {
		font-size: 20px;
	}
}

@media (max-width: 992px) {

	.bg-total-partisipan {
		padding:10px;
		border-radius: 50px;
	}

	.fs-title-total-partisipan {
		font-size: 30px;
	}

	.fs-title-total-lakung {
		font-size: 22px;
	}

	.fs-total-partisipan {
		font-size: 60px;
	}

	.fs-total-lakung {
		font-size: 70px;
	}
}

.accordion-button:after {
	margin: 2px 0px 0px 10px;
}

.accordion-button:after {
   background-image: url("data:image/svg+xml,%3Csvg fill='%235c5c5c' width='256px' height='256px' viewBox='-8.5 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' stroke='%235c5c5c'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Eright%3C/title%3E%3Cpath d='M7.75 16.063l-7.688-7.688 3.719-3.594 11.063 11.094-11.344 11.313-3.5-3.469z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
   width: 2.25rem;
   height: 2.25rem;
   background-size: 2.25rem;
}

.accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml,%3Csvg fill='%235c5c5c' width='256px' height='256px' viewBox='-8.5 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' stroke='%235c5c5c'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Eright%3C/title%3E%3Cpath d='M7.75 16.063l-7.688-7.688 3.719-3.594 11.063 11.094-11.344 11.313-3.5-3.469z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    transform: rotate(90deg);
}

.accordion-button:not(.collapsed) {
	box-shadow: none;
}

.rounded-img {
	border-radius: 40px;
}

.btn-register {
    font-size: 20px;
    border-color: none;
    background: #B7171D;
    box-shadow: 8px 8px 12px #00000029;
}

@media (max-width: 992px) {
    .btn-register {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .p-col-mobile {
        padding: 0 30px !important;
    }
}

.p-col-mobile-desktop {
    padding:0 5px;
}

.fs-desc-activity {
	font-size: 21px;
}

@media (max-width: 992px) {
	.fs-desc-activity {
		font-size: 18px;
	}
}

img.number {
	width: 140px;
}

#lakung img.number {
	width: 80px;
}


@media (max-width: 1320px) {
	#lakung img.number {
		width: 70px;
	}
}

@media (max-width: 1199px) {
	img.number {
		width: 100px;
	}
	#lakung img.number {
		width: 50px;
	}
}

@media (max-width: 861px) {
	img.number {
		width: 90px;
	}
	#lakung img.number {
		width: 40px;
	}
}

@media (max-width: 782px) {
	img.number {
		width: 70px;
	}
	#lakung img.number {
		width: 40px;
	}
}

@media (max-width: 767px) {

	#lakung img.number {
		width: 70px;
	}
}

@media (max-width: 618px) {
	img.number {
		width: 50px;
	}
	#lakung img.number {
		width: 50px;
	}
}

@media (max-width: 375px) {
	img.number {
		width: 40px;
	}
	#lakung img.number {
		width: 40px;
	}

	.card-body {
		padding: 0px;
	}
}

.close {
	position: absolute;
    right: 0;
}

.modal-header {
	display: block;
	border-bottom: none;
}

.modal-content {
	border-radius: 25px;
}

.modal-footer {
	border-top: none;
}

.text-btn-padding {
	padding: 10px 40px;
}


.fs-term-condition-modal {
    font-size: 15px;
    line-height: 20px;
}

@media (max-width: 992px) {
    .fs-term-condition-modal {
        font-size: 13px;
        line-height: 16px;
    }
}

@media (max-width: 414px) {
    .period .card-body {
        padding: 1px;
    }
}

.btn:focus, .btn:active {
    box-shadow: unset;
}




.fbm-hero-title {
  text-align: left !important;
  margin-bottom: 40px;
}
.parent{
    position: relative;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
mark{
    padding: 20px;
}

/* Start Custom Styles */
.fbm-content-wrapper {
	background: lightseagreen;
	padding: 40px;
	box-shadow: 0 0 20px -5px black;
}
.fbm-hero-title {
	margin-bottom: 20px;
}
#fbm-copy-btn {
	padding: 5px 10px;
	margin: 20px 0;
	border: none;
	border-radius: 5px;
	background: lightgreen;
  cursor: pointer;
}
#fbm-test-paste {
	display: block;
	border: none;
	width: 100%;
	padding: var(--fbm-padding-standard);
}
#fbm-test-paste:focus{
    outline: none;
    border: none;
}

@media (max-width: 458px) {
	.fs-share {
		font-size: 14px;
	}
}


